{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_posts.css' %}">
</head>
<body>

{% include 'blog/temps/header.html' %}

<main>
    <div class="main-container">
        <div class="post-filter">
            <form>
                <input type="search" placeholder="Поиск...">
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <select name="category" style="width: 35%;">
                        <option value="">Все категории</option>
                        <option value="tech">Технологии</option>
                        <option value="design">Дизайн</option>
                        <option value="marketing">Маркетинг</option>
                    </select>
                    <select name="sort" style="width: 35%; margin-left: 20px;">
                        <option value="">Сортировать по</option>
                        <option value="title">Заголовку</option>
                        <option value="date">Дате</option>
                        <option value="views">Количество просмотров</option>
                    </select>
                    <button type="submit" style="margin-left: 327px;">Применить</button>
                </div>
            </form>
            <div class="post-list">
                <ul>
                    {% for post in posts %}

                    <li class="post-item">
                        <div class="post-details">
                            <a href="#">
                                <span class="article-title">{{post.title}}</span>
                                <br>
                                <span class="article-meta">{{post.category}} {{post.created_at}} <i
                                        class="fa fa-eye"></i> 1234</span>
                            </a>
                        </div>
                        <div class="post-actions">
                            <span class="post-status">{{ post.get_access_status_display }}</span> <!-- Статус поста -->
                            <span class="post-time">{{ post.time_live }}</span> <!-- Время до удаления -->

                            <!-- Кнопка "Поделиться" -->
                            <button onclick="copyToClipboard('{{ request.build_absolute_uri|add:post.slug }}')">
                                Поделиться
                            </button>

                            <form method="post" action="{% url 'blog:post-delete' post.id %}">
                                {% csrf_token %}
                                <button type="submit">Удалить</button>
                            </form>
                        </div>
                    </li>
                    <script>
                        function copyToClipboard(url) {
                            // Создаем временный элемент input
                            const tempInput = document.createElement('input');
                            tempInput.value = url; // Устанавливаем значение как URL
                            document.body.appendChild(tempInput); // Добавляем его в DOM
                            tempInput.select(); // Выделяем текст
                            document.execCommand('copy'); // Копируем выделенный текст
                            document.body.removeChild(tempInput); // Удаляем временный элемент

                            alert('URL скопирован в буфер обмена!'); // Сообщение о том, что URL скопирован
                        }
                    </script>

                    {% endfor %}
                </ul>
            </div>
        </div>

        {% include 'blog/temps/popular_posts.html' %}
    </div>
</main>
{% include 'blog/temps/footer.html' %}

</body>
</html>
