{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/users_posts.css' %}">
</head>
<body>

{% include 'blog/temps/header.html' %}

<main>
    <div class="main-container">
        <div class="post-filter">
            <form>
                <input type="search" placeholder="Поиск...">
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <select name="category" style="width: 35%;">
                        <option value="">Все категории</option>
                        <option value="tech">Технологии</option>
                        <option value="design">Дизайн</option>
                        <option value="marketing">Маркетинг</option>
                    </select>
                    <select name="sort" style="width: 35%; margin-left: 20px;">
                        <option value="">Сортировать по</option>
                        <option value="title">Заголовку</option>
                        <option value="date">Дате</option>
                        <option value="views">Количество просмотров</option>
                    </select>
                    <button type="submit" style="margin-left: 327px;">Применить</button>
                </div>
            </form>
            <div class="post-list">
                <ul>
                    {% for post in posts %}

                    <li class="post-item">
                        <div class="post-details">
                            <a href="#">
                                <span class="article-title">{{post.title}}</span>
                                <br>
                                <span class="article-meta">{{post.category}} {{post.created_at}} <i
                                        class="fa fa-eye"></i> 1234</span>
                            </a>
                        </div>
                        <div class="post-actions">
                            <span class="post-status">{{post.get_access_status_display}}</span> <!-- Статус поста -->
                            <span class="post-time">Удалится через 3 дня</span> <!-- Время до удаления -->
                            <form method="post" action="{% url 'blog:post-delete' post.id %}">
                                {% csrf_token %}
                                <button type="submit">Удалить</button>
                            </form>
                        </div>
                    </li>

                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="right-block">
            <h2>Популярные статьи</h2>
            <ul>
                <li>
                    <a href="{% url 'blog:post-check' %}">
                        <span class="article-title">Название статьи 1</span>
                        <br>
                        <span class="article-meta">Технологии 12.02.2023 <i class="fa fa-eye"></i> 1234</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'blog:posts-check' %}">
                        <span class="article-title">Название статьи 2</span>
                        <br>
                        <span class="article-meta">Дизайн 15.03.2023 <i class="fa fa-eye"></i> 5678</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="article-title">Название статьи 3</span>
                        <br>
                        <span class="article-meta">Маркетинг 20.04.2023 <i class="fa fa-eye"></i> 9012</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="article-title">Название статьи 4</span>
                        <br>
                        <span class="article-meta">Маркетинг 20.04.2023 <i class="fa fa-eye"></i> 9012</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</main>
{% include 'blog/temps/footer.html' %}

</body>
</html>
