
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
}


.pagination-info-container {
    flex-grow: 1;
    text-align: left;
    color: #555;
    font-size: 14px;
}


.pagination-links-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    margin-left: -390px;
}


.pagination-link, .pagination-disabled {
    text-decoration: none;
    color: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    line-height: 1.4;
    white-space: nowrap;
}


.pagination-link:hover {
    background-color: #0056b3;
    color: #ffffff;
}

.pagination-link:active {
    background-color: #004085;
}


.pagination-disabled {
    background-color: #f1f1f1;
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none;
}


.pagination-current {
    font-weight: bold;
    color: #28a745;
    margin: 0 5px;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: #e2f0e5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.pagination-prev,
.pagination-next {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 5px;
}

.pagination-prev:hover,
.pagination-next:hover {
    background-color: #e9ecef;
}

.pagination-prev:disabled,
.pagination-next:disabled {
    color: #ccc;
    cursor: not-allowed;
}


.pagination-prev {
    margin-right: 10px;
}


.pagination-next {
    margin-left: 10px;
}