.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    clear: both;
    height: auto; /* Убираем фиксированную высоту */
    margin: 0 auto;
    position: relative;
    bottom: 0;
    width: calc(100% - 40px);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
}

.footer-container ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.footer-container li {
    display: inline;
    margin: 0 15px;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}



html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}