{% extends 'blog/temps/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/password_check_box.js' %}"></script>
{% endblock %}

{% block content %}
<main class="container">
    <div class="main-container">
        <section class="left-block">
            <div class="post-form">
                <form method="POST" action="{% url 'blog:create-paste' %}">
                    {% csrf_token %}
                    <div class="post-editor">
                        {{ form.content }}
                    </div>
                    <div class="post-settings">
                        <h3>Настройки публикации</h3>
                        <label>
                            Категория:
                            {{ form.category }}
                        </label>
                        <label>
                            Теги:
                            {{ form.tags }}
                        </label>
                        <label>
                            Название поста:
                            {{ form.title }}
                        </label>
                        <label>
                            Статус публикации:
                            {{ form.access_status }}
                        </label>
                        <label>
                            Время удаления:
                            {{ form.time_live }}
                        </label>
                        <label>
                            <input type="checkbox" name="need_password" id="need-password" class="need-password" onclick="togglePasswordField()">
                            Требуется пароль
                        </label>
                        <label>
                            Пароль:
                             <input type="password" name="password" id="password-field" placeholder="Введите пароль" disabled>
                        </label>
                        <label>
                            <input type="checkbox" name="is_delete_after_read" class="delete-after-read"> Удалить после
                            прочтения
                        </label>
                        <button type="submit">Опубликовать</button>
                        <div data-password-id="{{ form.password.id_for_label }}"></div>
                    </div>
                </form>
            </div>
        </section>

        {% include 'blog/temps/popular_posts.html' %}

    </div>
</main>
{% endblock %}