{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>

{% include 'blog/temps/header.html' %}

<main class="container">
    <div class="main-container">
        <section class="left-block">
            <div class="post-form">
                <form method="POST" action="{% url 'blog:create-paste' %}">
                    {% csrf_token %}
                    <div class="post-editor">
                        {{ form.content }}
                    </div>
                    <div class="post-settings">
                        <h3>Настройки публикации</h3>
                        <label>
                            Категория:
                            {{ form.category }}
                        </label>
                        <label>
                            Теги:
                            {{ form.tags }}
                        </label>
                        <label>
                            Название поста:
                            {{ form.title }}
                        </label>
                        <label>
                            Статус публикации:
                            {{ form.access_status }}
                        </label>
                        <label>
                            Время удаления:
                            {{ form.time_live }}
                        </label>
                        <label>
                            <input type="checkbox" name="need_password" id="need-password" class="need-password"
                                   onclick="togglePasswordField()">
                            Требуется пароль
                        </label>
                        <label>
                            Пароль:
                            {{ form.password }}
                        </label>
                        <label>
                            <input type="checkbox" name="is_delete_after_read" class="delete-after-read"> Удалить после
                            прочтения
                        </label>
                        <button type="submit">Опубликовать</button>
                    </div>
                    <script>
                        // Функция для включения/выключения поля пароля
                        function togglePasswordField() {
                            // Получаем чекбокс и поле пароля
                            var checkbox = document.getElementById('need-password');
                            var passwordField = document.getElementById('{{ form.password.id_for_label }}');

                            // Если чекбокс отмечен, разблокируем поле пароля
                            if (checkbox.checked) {
                                passwordField.disabled = false;
                            } else {
                                // Если чекбокс не отмечен, блокируем поле пароля
                                passwordField.disabled = true;
                                passwordField.value = '';  // Очищаем поле пароля
                            }
                        }

                        // Блокируем поле пароля по умолчанию при загрузке страницы
                        window.onload = function () {
                            document.getElementById('{{ form.password.id_for_label }}').disabled = true;
                        };
                    </script>
                </form>
            </div>
        </section>

        {% include 'blog/temps/popular_posts.html' %}

    </div>
</main>

{% include 'blog/temps/footer.html' %}

</body>
</html>