{% extends 'blog/temps/base.html' %}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tags_for_create_past.css' %}">
    <script src="{% static 'js/password_check_box.js' %}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/base16-light.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/monokai.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/markdown/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/sql/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/yaml/yaml.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">


{% endblock %}

{% block content %}
    <main class="container">
        <div class="main-container">
            <section class="left-block">
                <div class="post-form">
                    <form method="POST" action="{% url 'blog:create-paste' %}">
                        {% csrf_token %}

                        <div class="post-editor1">
                            {{ form.content }}
                        </div>
                        <div class="post-settings">
                            <h3>Настройки публикации</h3>
                            <label>
                                Подсветка синтаксиса
                                <select id="language-select" name="syntax">
                                    <option value="plaintext">Обычный текст</option>
                                    <option value="python">Python</option>
                                    <option value="javascript">JavaScript</option>
                                    <option value="clike">C/C++/Java</option>
                                    <option value="sql">SQL</option>
                                    <option value="css">CSS</option>
                                </select>
                            </label>
                            <label>
                                Категория:
                                {{ form.category }}
                            </label>
                            <label>
                                <div style="display: flex; flex-direction: row">
                                    <div>Теги &nbsp;</div>
                                    <div class="toggle-button" onclick="toggleTagList()"> (&#9660; Показать/Скрыть
                                        теги)
                                    </div>
                                </div>
                                {{ form.tags }}
                                <input type="text" name="tags" id="tagsField" value=""
                                       placeholder="Выберите подходящие теги ниже..." disabled>
                            </label>

                            <div style="margin-top: -20px; margin-bottom: 20px">
                                <div class="selected-tags" id="selectedTags"></div>
                                <div class="tag-list-container" id="tagListContainer" style="display: none">
                                    <div class="tags-container">
                                        {% for tag in tags %}
                                            <div class="tag" onclick="selectTag('{{ tag.name }}')"
                                                 data-tag-id="{{ tag.id }}">
                                                + {{ tag.name }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            <label>
                                Название поста:
                                {{ form.title }}
                            </label>
                            <label>
                                Статус публикации:
                                {{ form.access_status }}
                            </label>
                            <label>
                                Время удаления:
                                {{ form.time_live }}
                            </label>
                            <label>
                                <input type="checkbox" name="need_password" id="need-password" class="need-password"
                                       onclick="togglePasswordField()">
                                Требуется пароль
                            </label>
                            <label>
                                Пароль:
                                <input type="password" name="password" id="password-field" placeholder="Введите пароль"
                                       disabled>
                            </label>
                            <label>
                                <input type="checkbox" name="is_delete_after_read" class="delete-after-read"> Удалить
                                после
                                прочтения
                            </label>
                            <button type="submit">Опубликовать</button>
                            <div data-password-id="{{ form.password.id_for_label }}"></div>
                        </div>
                    </form>
                </div>
            </section>

            {% include 'blog/temps/popular_posts.html' %}

        </div>
    </main>
    <script src="{% static 'js/tags_for_create_paste.js' %}"></script>
    <script src="{% static 'js/text_editor.js' %}"></script>
{% endblock %}

