{% extends 'blog/temps/base.html' %}
{% load static %}

{% block title %}Публикации{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main>
    <div class="main-container">
        <div class="post-filter">
            <form method="get" action="{% url 'blog:posts-check' %}">
                <input type="search" name="search" placeholder="Поиск..." value="{{ search_query }}">
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <select name="category" style="width: 35%;">
                        <option value="">Все категории</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}"
                                {% if category.name == selected_category %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>

                    <select name="sort" style="width: 35%; margin-left: 20px;">
                        <option value="">Сортировать по</option>
                        <option value="title" {% if selected_sort == 'title' %}selected{% endif %}>Заголовку</option>
                        <option value="date" {% if selected_sort == 'date' %}selected{% endif %}>Дате</option>
                        <option value="views" {% if selected_sort == 'views' %}selected{% endif %}>Количество просмотров</option>
                    </select>

                    <div class="checkbox-container">
                        <input type="checkbox" id="has_password" name="has_password" {% if has_password %}checked{% endif %}>
                        <label for="has_password">
                            <span>Только открытые</span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>

                    <button type="submit" style="margin-left: 227px;">Применить</button>
                </div>
            </form>
            <div class="post-list">
                <ul>
                    {% for post in posts %}
                    <li class="post-item">
                        <div class="post-details">
                            <a href="{% url 'blog:post-detail' post.slug %}">
                                <span class="article-title">{{ post.title }}</span>
                                <br>
                                <span class="article-meta">{{ post.category }} &nbsp; | &nbsp; {{ post.get_formatted_created_at }} &nbsp; | &nbsp;
                        <i class="fa fa-eye"></i> <span class="view-count">{{ post.views_count }}</span></span>
                            </a>
                        </div>
                        <div class="post-actions">
                            {% if post.password %}
                            <span class="post-lock"><i class="fa fa-lock" aria-hidden="true"
                                                       style="color: #FF9800;"></i></span>
                            {% else %}
                            <span class="post-lock"><i class="fa fa-unlock" aria-hidden="true"
                                                       style="color: #4CAF50;"></i></span>
                            {% endif %}

                            <span class="post-favorite" data-post-slug="{{ post.slug }}"
                                  onclick="toggleFavorite(this, '{{ post.slug }}')">
                                <span class="star" id="favorite-star"
                                      style="color: {% if post in user.favorites.all %}#FFD700{% else %}black{% endif %};">
                                    {% if post in user.favorites.all %}★{% else %}☆{% endif %}
                                </span>
                            </span>

                            <button class="post-share-button" onclick="copyToClipboard('{{ post.get_absolute_url }}')">
                                Поделиться
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'blog/temps/popular_posts.html' %}
    </div>
</main>

<script src="{% static 'js/add_post_to_favorite.js' %}"></script>
{% endblock %}