{% extends 'blog/temps/base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block head %}
    {{ block.super }}
    <script src="{% static 'js/password_modal.js' %}"></script>
    <script src="{% static 'js/password_check_box.js' %}"></script>
    <script src="{% static 'js/show_edit_form.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tags_for_create_past.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/alerts.css' %}">

    <!-- CodeMirror стили -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/base16-light.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/theme/monokai.min.css">

    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/javascript/javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/htmlmixed/htmlmixed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/markdown/markdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/xml/xml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/clike/clike.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/sql/sql.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/css/css.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/yaml/yaml.min.js"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}">
{% endblock %}

{% block content %}

    <input type="hidden" id="post-password" value="{{ post.password }}">

    {% if requires_password %}
        {% include 'blog/temps/post_password_modal.html' %}
    {% endif %}

    <main>
        {% if messages %}
            <div id="messages">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="main-container">
            <div id="post-content" class="left-block">
                <div class="post-preview" style="display: flex; justify-content: space-between; align-items: center;">
                    <div class="icon">
                        <img src="https://th.bing.com/th/id/OIP.oESypaPq8Yzj1DuqXK9VjQAAAA?rs=1&pid=ImgDetMain"
                             alt="{{ user.nickname }}" width="40" height="40">
                    </div>
                    <div class="info" style="flex-grow: 1;">
                        <span class="post-title">{{ post.title }}</span>
                        <br>
                        <span class="post-meta">{{ post.author }} | {{ post.get_formatted_created_at }} | Просмотров: {{ post.views_count }} | Сохранений: {{ post.favourite_count }}</span>
                    </div>
                    <span class="post-favorite" data-post-slug="{{ post.slug }}"
                          style="cursor: pointer; margin-left: auto;">
                    <span class="star" id="favorite-star"
                          style="color: {% if post in user.favorites.all %}#FFD700{% else %}black{% endif %}; font-size: 18px;">
                        {% if post in user.favorites.all %}★{% else %}☆{% endif %}
                    </span>
                </span>
                    {% if request.user == post.author %}
                        <button id="edit-button" onclick="showEditForm(this)" style="margin-left: 20px;">Редактировать
                        </button>
                    {% endif %}
                </div>

                <div id="post-content-display">
                    <div class="post-editor">
                        <textarea placeholder="Введите текст поста..." disabled>{{ post.content }}</textarea>
                    </div>
                    <div class="post-metadata"
                         style="display: flex; justify-content: space-between; align-items: center;">
                        <div class="post-info">
                            <span class="categories"><strong>Categories:</strong> {{ post.category }}</span><br>
                            <span class="tags"><strong>Tags:</strong>
                                {% for tag in post.tags.all %}
                                    <a href="{% url 'blog:posts-list' %}?tags={{ tag.name|urlencode }}"
                                       class="tag-link">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                        </span>
                        </div>
                        <div class="post-actions" style="display: flex; align-items: center;">
                            <button id="like-button-{{ post.id }}" class="like-button"
                                    onclick="likeDislikePaste({{ post.id }}, 'like')"
                                    style="margin-right: 10px; color: {% if user_liked %}blue{% else %}black{% endif %};">
                                👍 <span id="like-count-{{ post.id }}">{{ likes_count }}</span>
                            </button>
                            <button id="dislike-button-{{ post.id }}" class="dislike-button"
                                    onclick="likeDislikePaste({{ post.id }}, 'dislike')"
                                    style="margin-right: 10px; color: {% if user_disliked %}red{% else %}black{% endif %};">
                                👎 <span id="dislike-count-{{ post.id }}">{{ dislikes_count }}</span>
                            </button>
                        </div>
                    </div>

                    <div class="post-settings">
                        <h3>Комментарии</h3>
                        <ul class="comments-list">
                            {% for comment in post.comments.all %}
                                <li>
                                    <span>{{ comment.author }}</span>
                                    <span>{{ comment.created_at }}</span>
                                    <p>{{ comment.content }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <form class="comment-form" method="POST" action="{% url 'blog:comment-create' post.slug %}">
                            {% csrf_token %}
                            <textarea placeholder="Введите текст комментария..." maxlength="100"
                                      name="content"></textarea>
                            <button type="submit">Отправить</button>
                        </form>
                    </div>
                </div>

                <div id="edit-post-form" style="display: none;">
                    <div class="post-form">
                        <form method="POST" action="{% url 'blog:post-update' post.slug %}">
                            {% csrf_token %}
                            <div class="post-editor1">
                                <textarea id="code-editor" name="content"
                                          placeholder="Введите текст поста...">{{ post.content }}</textarea>
                            </div>
                            <div class="post-settings">
                                <h3>Настройки публикации</h3>
                                <label>
                                    Подсветка синтаксиса
                                    <select id="language-select" name="syntax" style="height: 40px">
                                        <option value="plaintext"
                                                {% if syntax == "plaintext" %}selected{% endif %}>Обычный
                                            текст
                                        </option>
                                        <option value="python"
                                                {% if syntax == "python" %}selected{% endif %}>Python
                                        </option>
                                        <option value="javascript"
                                                {% if syntax == "javascript" %}selected{% endif %}>JavaScript
                                        </option>
                                        <option value="htmlmixed"
                                                {% if syntax == "htmlmixed" %}selected{% endif %}>HTML
                                        </option>
                                        <option value="markdown"
                                                {% if syntax == "markdown" %}selected{% endif %}>Markdown
                                        </option>
                                        <option value="xml" {% if syntax == "xml" %}selected{% endif %}>XML
                                        </option>
                                        <option value="clike" {% if syntax == "clike" %}selected{% endif %}>
                                            C/C++/Java
                                        </option>
                                        <option value="sql" {% if syntax == "sql" %}selected{% endif %}>SQL
                                        </option>
                                        <option value="css" {% if syntax == "css" %}selected{% endif %}>CSS
                                        </option>
                                        <option value="yaml" {% if syntax == "yaml" %}selected{% endif %}>
                                            YAML
                                        </option>
                                    </select>
                                </label>
                                <label>
                                    Категория:
                                    <select name="category">
                                        {% for category in form.category.field.queryset %}
                                            <option value="{{ category.id }}"
                                                    {% if category == post.category %}selected{% endif %}>
                                                {{ category.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    <div style="display: flex; flex-direction: row">
                                        <div>Теги &nbsp;</div>
                                        <div class="toggle-button" onclick="toggleTagList()"> (&#9660; Показать/Скрыть
                                            теги)
                                        </div>
                                    </div>
                                    <!-- Поле для отображения тегов, заблокированное для редактирования -->
                                    <input type="text" id="tagsFieldDisplay" value="{{ tags|join:', ' }}" disabled>

                                    <!-- Скрытое поле для отправки данных -->
                                    <input type="hidden" name="tags" id="tagsField" value="{{ tags|join:', ' }}">
                                </label>

                                <!-- Остальная часть твоего кода с выбором тегов -->
                                <div style="margin-top: -20px; margin-bottom: 20px">
                                    <div class="selected-tags" id="selectedTags">
                                        {% for tag in tags %}
                                            <div class="selected-tag">
                                                {{ tag }} <span class="remove-tag" onclick="removeTag('{{ tag }}')">&times;</span>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="tag-list-container" id="tagListContainer" style="display: none">
                                        <div class="tags-container">
                                            {% for tag in all_tags %}
                                                <div class="tag" onclick="selectTag('{{ tag.name }}')"
                                                     data-tag-id="{{ tag.id }}">
                                                    + {{ tag.name }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <label>
                                    Название поста:
                                    <input type="text" name="title" value="{{ post.title }}">
                                </label>
                                <label>
                                    Статус публикации:
                                    <select name="access_status">
                                        <option value="0" {% if post.access_status == 0 %}selected{% endif %}>Приватный
                                        </option>
                                        <option value="1" {% if post.access_status == 1 %}selected{% endif %}>Публичный
                                        </option>
                                        <option value="2" {% if post.access_status == 2 %}selected{% endif %}>Черновик
                                        </option>
                                    </select>
                                </label>
                                <label>
                                    Время удаления:
                                    <select name="time_live" class="post-settings-select">
                                        {% for value, label in form.time_live.field.choices %}
                                            <option value="{{ value }}"
                                                    {% if label == post.get_time_live_display %}selected{% endif %}>
                                                {{ label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </label>
                                <label>
                                    <input type="checkbox" name="need_password" id="need-password" class="need-password"
                                           {% if post.password %}checked{% endif %} onclick="togglePasswordField()">
                                    Требуется пароль
                                </label>

                                <label>
                                    Пароль:
                                    <input type="password" name="password" id="password-field"
                                           placeholder="Введите пароль"
                                            {% if post.password %} value="{{ post.password }}" {% else %}
                                           value="" {% endif %} disabled>
                                </label>
                                <input type="hidden" name="stored_password" id="stored-password"
                                       value="{{ post.password }}">
                                {% if error_message %}
                                    <div class="error-message" style="color: red;">{{ error_message }}</div>
                                {% endif %}
                                <label>
                                    <input type="checkbox" name="is_delete_after_read" class="delete-after-read"
                                           {% if post.is_delete_after_read %}checked{% endif %}> Удалить после прочтения
                                </label>
                                <button type="submit">Сохранить изменения</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'blog/temps/popular_posts.html' %}
        </div>
    </main>

    <script src="{% static 'js/add_post_to_favorite.js' %}"></script>
    <script src="{% static 'js/paste_likes_dislikes.js' %}"></script>
    <script src="{% static 'js/tags_for_upgate.js' %}"></script>
    <script src="{% static 'js/alerts.js' %}"></script>

{% endblock %}