{% extends 'blog/temps/base.html' %}
{% load static %}

{% block title %}Публикации{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

{% block content %}
<main>
    <div class="main-container">
        <div class="post-filter">
            <form>
                <input type="search" placeholder="Поиск...">
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <select name="category" style="width: 35%;">
                        <option value="">Все категории</option>
                        <option value="tech">Технологии</option>
                        <option value="design">Дизайн</option>
                        <option value="marketing">Маркетинг</option>
                    </select>
                    <select name="sort" style="width: 35%; margin-left: 20px;">
                        <option value="">Сортировать по</option>
                        <option value="title">Заголовку</option>
                        <option value="date">Дате</option>
                        <option value="views">Количество просмотров</option>
                    </select>
                    <button type="submit" style="margin-left: 327px;">Применить</button>
                </div>
            </form>
            <div class="post-list">
                <ul>
                    {% for post in posts %}
                    <li class="post-item">
                        <div class="post-details">
                            <a href="{% url 'blog:post-detail' post.slug %}">
                                <span class="article-title">{{ post.title }}</span>
                                <br>
                                <span class="article-meta">{{ post.category }} &nbsp; | &nbsp; {{ post.get_formatted_created_at }} &nbsp; | &nbsp;
                        <i class="fa fa-eye"></i> <span class="view-count">{{ post.views_count }}</span></span>
                            </a>
                        </div>
                        <div class="post-actions">
                            {% if post.password %}
                            <span class="post-lock"><i class="fa fa-lock" aria-hidden="true"
                                                       style="color: #FF9800;"></i></span>
                            {% else %}
                            <span class="post-lock"><i class="fa fa-unlock" aria-hidden="true"
                                                       style="color: #4CAF50;"></i></span>
                            {% endif %}

                            <!-- Звезда для избранного -->
                            <span class="post-favorite" onclick="toggleFavorite(this)">
                                <span class="star" id="favorite-star">&#9734;</span> <!-- Пустая звезда -->
                            </span>

                            <button class="post-share-button" onclick="copyToClipboard('{{ post.get_absolute_url }}')">
                                Поделиться
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'blog/temps/popular_posts.html' %}
    </div>
</main>

<script>
    function toggleFavorite(element) {
        const star = element.querySelector('.star');

        console.log("Текущий символ звезды:", star.innerHTML); // Для отладки

        if (star.innerHTML === '&#9734;') { // Если пустая звезда
            star.innerHTML = '&#9733;'; // Меняем на заполненную
            star.style.color = '#FFD700'; // Золотой цвет для заполненной звезды
        } else {
            star.innerHTML = '&#9734;'; // Меняем на пустую
            star.style.color = 'black'; // Черный цвет для пустой звезды
        }
    }
</script>
{% endblock %}