{% extends 'blog/temps/base.html' %}
{% load static %}

{% block title %}Публикации{% endblock %}

{% block head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<main>
    <div class="main-container">
        <div class="post-filter">
            <form method="get" action="{% url 'blog:tag-list' %}" onsubmit="event.preventDefault(); applyFilters();">
                <input type="search" name="search" placeholder="Поиск..." value="{{ search_query }}">
                <div style="display: flex; justify-content: space-between; margin-top: 10px;">
                    <select name="category" style="width: 35%;">
                        <option value="">Все категории</option>
                        {% for category in categories %}
                            <option value="{{ category.name }}"
                                {% if category.name == selected_category %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>

                    <select name="sort" style="width: 35%; margin-left: 20px;">
                        <option value="">Сортировать по</option>
                        <option value="title" {% if selected_sort == 'title' %}selected{% endif %}>Заголовку</option>
                        <option value="date" {% if selected_sort == 'date' %}selected{% endif %}>Дате</option>
                        <option value="views" {% if selected_sort == 'views' %}selected{% endif %}>Количество просмотров</option>
                    </select>

                    <div class="checkbox-container">
                        <input type="checkbox" id="has_password" name="has_password" {% if has_password %}checked{% endif %}>
                        <label for="has_password">
                            <span>Только открытые</span>
                            <span></span>
                            <span></span>
                        </label>
                    </div>

                    <button type="submit" class="styled-button" onclick="applyFilters()">Применить</button>
                    <style>
                        .styled-button {
                            padding: 10px 20px;
                            margin-left: 227px;
                            background-color: #333333;
                            color: #ffffff;
                            border: none;
                            border-radius: 5px;
                            cursor: pointer;
                            font-size: 16px;
                            font-weight: bold;
                            transition: background-color 0.3s, box-shadow 0.3s;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                        }

                        .styled-button:hover {
                            background-color: #333333;
                            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
                        }

                        .styled-button:active {
                            background-color: #333333;
                            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
                            transform: translateY(2px);
                        }
                    </style>
                </div>

                <!-- Скрытое поле для выбранных тегов -->
                <input type="hidden" name="tags" id="tagsField" value="">

                <div>
                    <!-- Выбранные теги отображаются здесь -->
                    <div class="selected-tags" id="selectedTags"></div>

                    <!-- Кнопка для сворачивания и разворачивания тегов -->
                    <div class="toggle-button" onclick="toggleTagList()">&#9660; Показать/Скрыть теги</div>

                    <!-- Контейнер с тегами -->
                    <div class="tag-list-container" id="tagListContainer">
                        <div class="tags-container">
                            {% for tag in tags %}
                            <div class="tag" onclick="selectTag('{{ tag.name }}')" data-tag-id="{{ tag.id }}">
                                + {{ tag.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </form>
            <div class="post-list">
                <ul>
                    {% for post in posts %}
                    <li class="post-item">
                        <div class="post-details">
                            <a href="{% url 'blog:post-detail' post.slug %}">
                                <span class="article-title">{{ post.title }}</span>
                                <br>
                                <span class="article-meta">{{ post.category }} &nbsp; | &nbsp; {{ post.get_formatted_created_at }} &nbsp; | &nbsp;
                        <i class="fa fa-eye"></i> <span class="view-count">{{ post.views_count }}</span></span>
                            </a>
                        </div>
                        <div class="post-actions">
                            {% if post.password %}
                            <span class="post-lock"><i class="fa fa-lock" aria-hidden="true"
                                                       style="color: #FF9800;"></i></span>
                            {% else %}
                            <span class="post-lock"><i class="fa fa-unlock" aria-hidden="true"
                                                       style="color: #4CAF50;"></i></span>
                            {% endif %}

                            <span class="post-favorite" data-post-slug="{{ post.slug }}"
                                  onclick="toggleFavorite(this, '{{ post.slug }}')">
                                <span class="star" id="favorite-star"
                                      style="color: {% if post in user.favorites.all %}#FFD700{% else %}black{% endif %};">
                                    {% if post in user.favorites.all %}★{% else %}☆{% endif %}
                                </span>
                            </span>

                            <button class="post-share-button" onclick="copyToClipboard('{{ post.get_absolute_url }}')">
                                Поделиться
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% include 'blog/temps/popular_posts.html' %}
    </div>
</main>

<style>
    /* Контейнер для тегов */
    .tag-list-container {
        display: block;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
    }

    /* Основной стиль для тегов */
    .tags-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    /* Стиль для каждого тега */
    .tag {
        padding: 5px 10px;
        margin: 5px;
        border-radius: 15px;
        background-color: #333;
        color: white;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        max-width: 100%;
        word-wrap: break-word;
        box-sizing: border-box;
    }

    /* Стиль для выбранного тега */
    .tag-selected {
        background-color: #656262;
        color: white;
    }

    /* Стили для кнопки сворачивания/разворачивания */
    .toggle-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        color: #333333;
    }

    /* Стили для отображения выбранных тегов */
    .selected-tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .selected-tag {
        padding: 5px 10px;
        margin: 5px;
        border-radius: 15px;
        background-color: #656262;
        color: white;
        display: inline-flex;
        align-items: center;
    }

    .remove-tag {
        margin-left: 5px;
        color: white;
        cursor: pointer;
    }

    .post-filter {
        width: 950px;
    }
</style>

<script>
    function applyFilters() {
        console.log(document.querySelector('form').action);
        document.querySelector('form').submit();
    }

    let selectedTags = [];

    function toggleTagList() {
        const tagListContainer = document.getElementById('tagListContainer');
        const currentDisplay = tagListContainer.style.display;
        tagListContainer.style.display = currentDisplay === 'none' || currentDisplay === '' ? 'block' : 'none';
    }

    function selectTag(tagName) {
        const tagIndex = selectedTags.indexOf(tagName);

        if (tagIndex === -1) {
            selectedTags.push(tagName);
        } else {
            selectedTags.splice(tagIndex, 1);
        }

        updateSelectedTags();
        updateTagsField();
    }

    function updateSelectedTags() {
        const selectedTagsContainer = document.getElementById('selectedTags');
        selectedTagsContainer.innerHTML = '';

        selectedTags.forEach(tag => {
            const tagElement = document.createElement('div');
            tagElement.classList.add('selected-tag');
            tagElement.innerHTML = `${tag} <span class="remove-tag" onclick="removeTag('${tag}')">&times;</span>`;
            selectedTagsContainer.appendChild(tagElement);
        });

        document.querySelectorAll('.tag').forEach(element => {
            if (selectedTags.includes(element.textContent.trim().replace('+ ', ''))) {
                element.classList.add('tag-selected');
            } else {
                element.classList.remove('tag-selected');
            }
        });
    }

    function removeTag(tagName) {
        const tagIndex = selectedTags.indexOf(tagName);
        if (tagIndex !== -1) {
            selectedTags.splice(tagIndex, 1);
            updateSelectedTags();
            updateTagsField();
        }
    }

    function updateTagsField() {
        document.getElementById('tagsField').value = selectedTags.join(',');
    }

    function applyFilters() {
        document.querySelector('form').submit();
    }
</script>

<script src="{% static 'js/add_post_to_favorite.js' %}"></script>
{% endblock %}