/* Основной контейнер */
.main-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;
}

/* Левый блок */
.left-block {
    width: 70%;
    background-color: #f9f9f9;
    padding: 20px;
    margin-right: 50px;
    overflow-y: auto;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Заголовок вкладок */
.card-header {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

/* Кнопки вкладок */
.tab-button {
    flex: 1;
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
    text-align: center;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.tab-button.active {
    background-color: #333;
    color: #fff;
}

/* Контент вкладок */
.tab-content {
    display: none;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.tab-content.active {
    display: block;
}

/* Группы подписок (Теги и Люди) */
.subscriptions-group {
    margin-bottom: 20px;
}

.subscriptions-group h4 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

/* Список подписок */
#tags-subscriptions, #people-subscriptions, #followers-list {
    list-style: none;
    padding: 0;
}

#tags-subscriptions li, #people-subscriptions li, #followers-list li {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 1em;
    font-weight: 500;
    color: #333;
}

#tags-subscriptions li:hover,
#people-subscriptions li:hover,
#followers-list li:hover {
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
}


/* Стили для элементов списка подписок */
#tags-subscriptions li,
#people-subscriptions li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

/* Стиль для кнопки "Подписки" */
.subscription-button {
    background-color: #424242;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscription-button:hover {
    background-color: #7a7979;
}