{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
</head>

<header>
    <div class="header-container">
        <a href="{% url 'blog:index' %}" style='all: unset;'>
            <div class="header-logo">Название сервиса</div>
        </a>

        <div class="header-search">
            <input type="search" placeholder="Поиск...">
        </div>

        {% if request.user.is_authenticated %}
        <div class="header-auth">
            <form action="{% url 'logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="logout-button">Выход</button>
            </form>
            <span class="dropdown-toggle" style="margin-left: 10px; position: relative;">
                {{ request.user.username }} &#8711;
                <div class="dropdown">
                    <ul>
                        <li><a href="#">Мои посты</a></li>
                        <li><a href="#">Настройки профиля</a></li>
                        <li><a href="#">Изменить пароль</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li><a href="#">Уведомления</a></li>
                    </ul>
                </div>
            </span>
        </div>
        {% else %}
        <div class="header-auth">
            <a href="{% url 'users:login' %}" class="auth-link">Вход</a> /
            <a href="{% url 'users:register' %}" class="auth-link">Регистрация</a>
        </div>
        {% endif %}
    </div>
</header>

<script>
    document.querySelector('.dropdown-toggle').addEventListener('click', function () {
        var dropdown = this.querySelector('.dropdown');
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
    });
</script>
