{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <script src="{% static 'js/header_dropdown.js' %}"></script>
</head>

<header>
    <div class="header-container">
        <a href="{% url 'blog:index' %}" style='all: unset;'>
            <div class="header-logo">Pastebin Clone</div>
        </a>

        <div class="header-search">
            <input type="search" placeholder="Search...">
        </div>

        {% if request.user.is_authenticated %}
        <div class="header-auth">

            <span class="dropdown-toggle" style="margin-left: 10px; position: relative;">
                {{ request.user.username }} &#8711;
                <div class="dropdown">
                    <ul>
                        <li><a href="{% url 'users:posts-list' %}">Мои посты</a></li>
                        <li><a href="{% url 'users:user-profile' %}">Настройки профиля</a></li>
                        <li><a href="{% url 'users:password-change' %}">Изменить пароль</a></li>
                        <li><a href="#">Сообщения</a></li>
                        <li><a href="#">Уведомления</a></li>
                        <li><form action="{% url 'logout' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="logout-button" style="margin-left: 11px">Выход</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </span>
        </div>
        {% else %}
        <div class="header-auth">
            <a href="{% url 'users:login' %}" class="auth-link">Log In /</a>
            <a href="{% url 'users:register' %}" class="auth-link">Sign In</a>
        </div>
        {% endif %}
    </div>
</header>
