{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/popular_posts.css' %}">
</head>

<div class="right-block">
    <h2>Популярные статьи</h2>
    <ul>
        {% for popular_post in popular_posts %}
        <li>
            <a href="#">
                <span class="article-title">{{popular_post.title}}</span>
                <br>
                <span class="article-meta">{{ popular_post.category }} &nbsp; | &nbsp; {{ popular_post.get_formatted_created_at }} &nbsp; |  &nbsp;
                                    <i class="fa fa-eye"></i> <span class="view-count">{{popular_post.views_count}}</span></span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>