{% load static %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/post_password_modal.css' %}">
</head>

<div id="passwordModal" class="modal">
    <div class="modal-content">
        <h2>Введите пароль для просмотра этого поста</h2>
        <form id="password-form" method="post" action="{% url 'blog:post-password-check' post.slug %}">
            {% csrf_token %}
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Отправить</button>
        </form>
        <button class="cancel-button" onclick="goBack()">Вернуться назад</button>
        {% if error_message %}
        <div class="error-message" style="color: red;">{{ error_message }}</div>
        {% endif %}
    </div>
</div>